@model NovaSenhaVM
@{
    ViewBag.Title = "Nova Senha";
    Layout = "~/Views/Shared/_LayoutConta.cshtml";
}
@using (Html.BeginForm("MudarSenha", "Conta", FormMethod.Post))
{
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Login - CADSYS</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">
                            Insira sua nova senha
                        </div>
                    </div>
                </div>
                @Html.ValidationSummary(true)
                @Html.HiddenFor(m => m.IdentificadorUsuario)
                <div class="form-group">
                    @Html.LabelFor(m => m.Senha, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Senha)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmacaoSenha, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmacaoSenha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmacaoSenha)
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-left" style="margin-top: 0.5em;">
                </div>
                <div class="pull-left" style="margin: 0.5em;">
                </div>
                <div class="pull-right">
                    <input type="submit" class="btn btn-default btn-primary" value="Entrar" />
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
}

